<div class="header">
  <img src="/assets/img/img_1.png" alt="Description of the image">
  <div class="overlay">DIGITAL PROJECT MANAGEMENT SYSTEM</div>
<div class="container">
 
  <img src="/assets/img/egoz_logos.png"></div>

</div>

<mat-toolbar color="primary">
  <mat-toolbar-row class="mat-button">
     <!-- <div class="mat-side">
    <button mat-button routerLink=""> <mat-icon>menu</mat-icon></button>
  </div>  -->
    <button mat-button routerLink="home"> <mat-icon></mat-icon>Home</button>
    <div class="mat-side">
       <button mat-button routerLink="about"> <mat-icon></mat-icon>About</button>
    </div>
    <div class="mat-side">
      <button mat-button routerLink="ourservices"> <mat-icon></mat-icon>Services</button>
   </div>
   <div class="mat-side">
    <button mat-button routerLink="guidelines"> <mat-icon></mat-icon>GuideLines</button>
 </div>
 <div class="mat-side2">
  <button mat-button routerLink="login"><mat-icon></mat-icon>Login</button>
</div>
<div class="mat-side3">
  <button mat-button routerLink="registration"> <mat-icon></mat-icon>Registration</button>
</div>
  </mat-toolbar-row>

</mat-toolbar>
<router-outlet></router-outlet>
